<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Try</title>
</head>
<body>
    <h1>Gotta Catch 'em All</h1>
    <div>
    <a href="/new">ADD A POKEMON</a>
    </div>
    <div>
    <ul>
    <% for (let i = 0; i < pokemon.length; i++){ %>
       <a href="/pokemon/<%= i %>"><img src=<%= pokemon[i].img %> ></a>
       <a href="/pokemon/<%= i %>/edit/">Edit <%= pokemon[i].name %></a>
       <form action="/pokemon/<%= i %>?_method=DELETE" method="post">
            <input type="submit" value="delete">
        </form>
    <% } %>
    </ul>
    </div>
</body>
</html>