<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Pokemon</h2>

    <h1><%= pokemons.name %></h1>

    <img src=<%= pokemons.img %> >

    <h3>Type:</h3>
    <ul>
        <% for (let i = 0; i < pokemons.type.length; i++){ %>

        <li><%= pokemons.type[i] %></li>
        <% } %>
    </ul>
    <h4>Stats:</h4>
    <ul>
            <li><%= " HP - " + pokemons.stats.hp %></li>
            <li><%= " Attack - " + pokemons.stats.attack  %></li>
            <li><%= " Defense - " + pokemons.stats.defense %></li>
    </ul>
</body>
</html>

<!--  for (let i = 0; i < pokemons.stats; i++){ %>
     } %> -->